/*
编辑/新建页通用样式
注意：每行请以.edit-page父级元素选择器
*/

@charset "utf-8";
.edit-page{
	background-color: #F5F6FA;
	border-radius: 5px;
	min-height: 500px;
}
.edit-page .edit-title{
	font-size: 16px;
	font-weight: bold;
	color: #808080;
	height: 14px;
	line-height: 38px;
}

.edit-page .edit-content{	
	margin:15px 0 15px 15px;
}
.edit-page .edit-buttons{
	float: right;
	margin-bottom: 20px;
}

.edit-page .el-select{
	width:100%;
}
.edit-page .upload-tip{
	color:#999;
	font-size: 12px;
}
.edit-page .upload-field{
/*  background-color: #fff;*/
  /*border:1px solid #DCDFE6;*/
}

.edit-page .upload-field input{
  border: 0;
  outline: 0;
  height: 32px;
  line-height: 32px;
  margin-left: 16px;
  width: 600px;
}

.edit-page .upload-field label{
  float: left;
  padding: 0;
  position: relative;
  cursor: pointer;
}


.edit-page .upload-field label img{
	width: 200px;
	height: 200px;
}

.edit-page .upload-field label .hint{
	position: absolute;
	top:0;
	left: 0;
	width: 200px;
	height: 200px;
	background: url(../../../assets/images/admin/hint.png) no-repeat left center;
	z-index: 999;
	background-size: 100% 100%;
}



.edit-page .upload-field label span{
	float: left;

}